body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    padding: 75px;
    flex-wrap: wrap;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex-basis: 65%;
    margin: 0;
    
}
.hero-text {
    display: flex;
    flex-direction: column;
    flex: 0;
    flex-basis: 35%;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0px;
    height: 100%;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}
.navlinks {
    display: flex;
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    justify-content: flex-end;

}
.umbrella-logo {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    height: 100%;
    justify-content: flex-end;
}
img {
    width: 500px;
    height: 300px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 6px;
}
a:link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/*Content/4 Images*/

.starsheadline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    padding: 75px;
}
.information {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    height: 200px;
    width:  200px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 6px;
}
.subtext {
    display: flex;
}
.stars-team {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}





